* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    font-weight: 600;
    font-size: 20px;
    padding: 16px 20px;
    border: none;
    background: #cf3232;
    color: rgb(236, 218, 218);
    border-radius: 5px;
    margin-top: 45px;
}

/* header style start */
header {
    background-image: url('images/donation4.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.navbar {
    padding: 174px 307px;
    text-align: center;

}

.navabr-title {
    color: white;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 65px;


}

.navbar-des {
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 18px;
    margin-top: 20px;
    color: #FFFFFF;
}

/* main styles */
.donate-today {
    padding: 204px 290px;
    text-align: center;
}

.today-title {
    font-weight: 700;
    font-size: 45px;
}

.today-des {
    margin-top: 20px;
    color: #707070
}

.donate-today-container {
    display: flex;
}

.today-item-backround {

    background-color: #FFEEEE;
    border: 2px solid #FF5959;
    border-radius: 5px;
    padding: 27px 15px 45px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    color: #FF5959;
    height: 22px;
    text-align: center;
}

.today-item {
    color: #707070;
    background: #FAFAFA;
    border-radius: 5px;
    padding: 30px 17px;
    margin: 0 auto;
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    height: 40px;

}

.today-item1 {
    color: #707070;
    background: #FAFAFA;
    border-radius: 5px;
    padding: 30px 9px;
    margin: 0 auto;
    justify-content: space-around;
    margin-top: 50px;
    font-weight: 700;
    font-size: 30px;
    height: 40px;

}

.last-des {
    color: #B3B3B3;
    margin-top: 60px;
}

hr {
    margin-top: 9px;
    border: 1px solid #DADADA;
}

/* our donate plan styles */
.our-donate-plan {
    padding: 204px 290px;
    text-align: center;

}

.our-donate-titlt {
    font-weight: 700;
    font-size: 45px;
}

.our-donate-des {
    margin-top: 20px;
    font-weight: 400;
    font-size: 18px;
    color: #707070
}

/* donate-container styles */
.donate-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    justify-content: center;
     padding: 0 200px;

}

.donate-title {
    display: flex;
    justify-content: flex-start;
    margin-top: 31px;
}

.donate-des {
    width: 215px;
    height: 90px; 
    left: 180px;
    top: 1792.5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
    color: #707070;
    justify-content: justify;
}

 .first {
    background: rgba(79, 157, 166, 0.1);
    border-radius: 5px;
    color: #707070;
    margin: 6px;
    padding: 40px 20px 54px;
    

} 

.second {
    
    background: rgba(255, 89, 89, 0.1);
    border-radius: 5px;
    color: #707070;
    margin: 6px;
    padding: 40px 20px 54px;
     
} 

.third {
    background: rgba(175, 177, 177, 0.1);
    border-radius: 5px;
    color: #707070;
    margin: 6px;
    padding: 40px 20px 54px;
     
} 

.donate-container img{
display: block;
 }
 .first img{
    display: block;
    width: 53px;
height: 53px;
 }
 .second img{
    display: block;
    width: 53px;
height: 53px;
 }
 .third img{
    display: block;
     
 }
 /* Their lives depend on styles */
 .lives{
    display: flex;
    padding:30px 290px;
 }
 .left-side{

 }
 .right-side{
    margin: 6px;
 }
 .right-side img{
    width:400px;
    height:300px;
 }
 .live-title{
    margin-bottom: 20px;
 }
 .live-des{
    margin-bottom: 20px;
    color: #707070;
 }
 /* lives to styles */
 .lives2{
    display: flex;
    padding:30px 290px;
     
 }